.searchInput {
  height: 33px;
  width: 600px;
  border-radius: 4px;

  background: rgba(50, 50, 50, 0.8);
  mix-blend-mode: normal;
  opacity: 0.7;
  border-radius: 4px;
}
  
.searchInput::placeholder {
  position: absolute;
  height: 24px;
  left: 2.66%;
  right: 56.94%;
  top: calc(50% - 24px/2 + 0.5px);
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  
  color: #FFFFFF;
  
  mix-blend-mode: normal;
  opacity: 0.3;
}
  
.searchButton {
  height: 37px;
  width: 90px;
  margin-left: 15px;
  background: #F65261;
  border: #F65261;
  border-radius: 4px;
  cursor: pointer;
  color: #ffff;
  text-transform: uppercase;

  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}